doctype html
html
  head
    title Elimina Portata
    link(rel='stylesheet' href='/public/css/cover.css')
  body
    h1 Inserisci l'id della portata che vuoi eliminare
    form(action="/eliminaPortata" method="post")
      label(for="id") id:
      input(type="text" id="id" name="id" required)
      button(type="submit") Invia
