doctype html
html
  head
    title Elimina Cottura
  body
    h1 Inserisci l'id della cottura che vuoi eliminare
    form(action="/eliminaCottura" method="post")
      label(for="id") id:
      input(type="text" id="id" name="id" required)
      button(type="submit") Invia
