doctype html
html
  head
    title Modifica Categoria
    link(rel='stylesheet' href='/public/css/cover.css')
  body
    h1 Modifica Categoria
    form(action="/modificaCategoria" method="post")
      label(for="id") id Categoria:
      input(type="text" id="id" name="id" required)
      br
      label(for="nome") Nuovo Nome Categoria:
      input(type="text" id="nome" name="nome" required)
      br
      button(type="submit") Modifica