/* Stile per i form */
form {
  margin: 20px auto;
  width: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

/* Stile per i campi di input */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px -10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Stile per i pulsanti */
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Stile per i messaggi di errore */
.error {
  color: red;
}

body{
  text-align: center;
}

/*
belSelect
*/

.belSelezionato{
  padding: 2px 7px 2px 5px;
  margin: 0 3px;
  border:1px solid black;
  border-radius: 100px;
  user-select: none;
}